---
import { Icon } from 'astro-icon/components';

const { icon, size, value, desc, class:className} = Astro.props;
---
<div class:list={["border border-gray-700 flex flex-row justify-evenly items-center", className]}>
    <Icon name={icon} width={size ?? 42} height={size ?? 42} size={size ?? 42}/>
    <div class="flex flex-col">
        <span class="text-xl">{value}</span><small>{desc}</small>
    </div>
</div>