---
import '../pages/styles/_global.css';
---
<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="">
        <slot />
    </body>
    <!-- <script type="module" is:inline src="/js/util.js"></script> -->
</html>